Django==5.0.6
dj_database_url==2.2.0
redis==5.0.6
whitenoise==6.7.0
django-environ==0.11.2
django-admin-interface==0.28.5
django-admin-autocomplete-filter==0.7.1
django-filter==23.5
djangorestframework==3.14.0
psycopg2-binary==2.9.9
gunicorn==21.2.0
black==24.4.2
